{% extends 'all.html' %}
{% load static %}
{% block content %}
<div class="" style="margin-top: 10%;"></div>
    <div class="container">
        <h4>Enter New Passwor</h4>
        <p>Please enter your new password twice so we can varify you typed it is correctly.   </p>

        <form method="POST" action="">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="Update Password">
        </form>

    </div>  
    
<div class="" style="margin-top: 5%;"></div>
{% endblock content %}