{% extends "all.html" %}
{% load static %}

{% block style %}
<link href="{% static 'css/profile.css' %} " rel="stylesheet"/>
{% endblock style %}
{% block content %}

<section style="background-color: #e4e4e4;">
<br>
<div class="container" style="margin-top: 7%;">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100" style="text-align: center;">
            {% if user.profile.profile_pic %}
            <img class="profile-image" src="{{ user.profile.profile_pic.url}}" width="128" height="128" style="margin-left: 40px; border-radius: 50%;">
            {% endif %}
            <hr>
            <h4 class="my-2 "><b>Hi I'm {{ user.first_name }} {{ user.last_name}}</b></h4>
                        
            {% if request.user == user %}
            <a class="btn btn-primary" href="{% url 'modify_profile' %}" role="button">Update Profile</a>
            {% endif %}
          </div>  
        </div>
        <div class="col-md-3">
          <div class="card card-body h-100" style="text-align: center;">
            <p>Email ID <br>{{user.email}}</p>
            <hr>
            <p>Phone NO. <br>{{user.profile.phoneNo}}</p>
            <hr>
            <!-- {% if not user.company %}
            {% endif %} refresh kr s -->
            {% if user.profile.resume %}
            <p>resume<br><a href="{{ user.profile.resume.url}}">resume</a></p>
            {% endif %} 
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h4>  Intrest </h4> 
            <p>{{user.profile.intrest}}</p>
            <hr>
            <h4>Skill's </h4> 
            <p class="skills_match">{{user.profile.skill}}</p>
            <hr>
            <h4>Certificate's</h4>
            <p>{{user.profile.certificate}}</p>            
          </div>
        </div>
      </div>
    <br>   
  

</section>
{% endblock content %}