{% extends "all.html" %}

{% block content %}
<div style="padding-top:100px;">
    <h1 class="d-flex justify-content-center mx-4" style="font-family: consolas;border-style: dashed;">Questions</h1>
    {% for question in quiz.question_set.all %}
    <div class="container shadow my-4 py-2 card "> <br/>
        <h3>{{forloop.counter}} : {{question.label}}</h3>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
        {% for answer in  question.answer_set.all %}
        <div class="form-check">
            <input onchange="selectIt('{{answer.id}}','{{question.id}}');" class="form-check-input  d-flex" name= "ans_{{question.id}}" type="radio" value="{{answer}}" id="defaultCheck-{{forloop.counter}}-{{question.id}}" required>
            <label class="form-check-label" for="defaultCheck-{{forloop.counter}}-{{question.id}}">
                {{answer}}  
            </label>
        </div> 
        <br>
        {% endfor %}
    </div> 
    {% endfor %}
            <div class="container">
            <form method="POST" action="{% url "saveUserAnswer" %}" >  {% csrf_token %} 
                <input type="hidden" name = "allData" id="all-data" value = "{}"/>
                <input type="hidden" name = "quizTaker" value ="{{quiztaker.id}}"/>
                <button type="submit" class="btn btn-primary btn-lg" onclick="return confirm('Are you sure you want to submit the quiz ?')" >Submit</button>
            </form>
            </div>
                
</div>

{% endblock content %}
{% block script %}
<script>
    var FileJson = new Object();
    var distinct = [];
    var el = document.getElementById("all-data");
    console.log(FileJson);
    function selectIt(ans_id,q_id){
        if(q_id in distinct === false){
            FileJson[q_id] = ans_id
            distinct.push(q_id)
            el.value = JSON.stringify(FileJson)
        }else{
            delete FileJson[q_id];
            FileJson[q_id] = ans_id;   //Done✌✌
            el.value = JSON.stringify(FileJson)
        }
        // console.log(q_id in distinct);
        console.log(FileJson);
        console.log(el);
    }

    function SubmitQuiz()
    {
        var strconfirm = confirm("Are you sure you want to submit the quiz ?");
        if (strconfirm == true)
        {
            return true;
        }
        // else (strconfirm == true)
        // {
        //     return true;
        // }
    }




</script>
{% endblock script %}
 